body{
  background-color: #f9f9f9;
}

*{
  box-sizing: border-box;
}

.container{
  background-color: black;
  width: 450px;
  height: 700px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
}

.display{
  padding: 15px;
  font-size: 66px;
  text-align: right;
}

.keypad{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.keypad button{
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: none;
  font-size: 35px;
  color: white;
  background-color :#333333;
}

button.executers{
  background-color: #a3a3a4;
}

button.operators{
  background-color: #f69507;
}